<h2>All Heroes</h2>
<div>
    <label> Hero Name:
        <input #heroName />
    </label>
    <button (click)="add(heroName.value); heroName.value = ''">
        Add
    </button>
</div>
<ul class="heroes">
    <li *ngFor="let hero of heroes" >
            <button style="float:right; z-index: 2; position: relative;" title="Delete Hero" (click)="deleteHero(hero)">X</button>
            <a routerLink="/detail/{{hero.id}}">     
             <span class="badge">{{hero.id}} </span> {{hero.name}}
            </a>      
    </li>
</ul>

